.title {
  color: blue;
  font-size: 40px;
  font-weight: bold;
}

.description {
  color: #333;
  font-size: 24px;
  font-weight: normal;
}

.skills-description {
  margin: 12px auto 32px;
  /* text-align: center; */
  max-width: 80%;
}
@media screen and (max-width: 767px) {
.skills-description {
  min-width: 100%;
  }
}


.grid-skills-v2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    gap: 2rem;
    display: block;
}

.skill-card {
  background-color: #DADADB;
  color: #1D1E20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  cursor: context-menu;
  width: 20%;
}
@media screen and (max-width: 767px) {
  .skill-card {
    width: 120px;
  }
}
.skill-card-app {
  background-color: #DADADB;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  cursor: context-menu;
}

.f-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.f-item {
  width: 30%;
  text-align: center;
}


.headlineBox {
  /* background-color: lightcyan; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 16px;
  color: #fafafa;
}
.headline {
  width: 30%;
  text-align: center;
}
.headline:nth-child(1){
  width: 20%;
}
/* .headline:nth-child(3){

} */
@media screen and (max-width: 767px) {
  .headlineBox {
    justify-content: end;
  }
  .headline {
    font-size: 16px;
  }
}

.note {
  font-size: 12px;
  display: inline-block;
  text-align: left;
}


.headlineSub {
  text-align: center;
  margin: 24px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    gap: 2rem;
}

.tool-container {

}

@media screen and (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .tool-container {

}
}
