
.heading {
  text-align: center;
}

.link:hover .thumnail{
    transform:scale(1.2,1.2);
  transition:.5s all;
}

.title {
  min-height: 56px;
  margin-bottom: 4px;
}
.description {
  font-size: 12px;
}

.lead {
    margin: 12px auto 32px;
    /* text-align: center; */
    max-width: 80%;
}
@media screen and (max-width: 767px) {
  .lead {
    min-width: 100%;
    padding: 0 4px;
  }
}
